.search-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 5px;
}

.search-input {
    width: calc(50% - 50px);
    padding: 10px 15px;
}

.search-input:focus {
    outline: none;
}

@media screen and (max-width: 750px) {
    .search-input {
        width: calc(90% - 50px);
    }
}

.search-icon {
    width: 50px;
    text-align: center;
}